<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

        <title>Login</title>
    </head>
    <body>
        <div class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-body py-3">
                        <h5 class="card-title text-center mb-5">Log In</h5>
                        <form action="/login" method="post">
                            <div class="mb-5">
                                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                            </div>
                            <div class="mb-5">
                                <input class="form-control" name="password" placeholder="Password" type="password">
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary w-100">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
