{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
       <div class="container" style="max-width: 500px">
            <div class="card">
                <div class="card-body py-3 text-start">
                    <h1 class="card-title ">sucess</h1>
                    <p class="card-text">Task completed sucessfully</p>
                    <div class="d-flex gap-1">
                        <a href="/" class="btn btn-primary flex-fill">Back</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
